<div class="container features">
<div class="row">
    <div class="col-12">
    <h1><%= "#{current_user.first_name}"%>'s Account</h1>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12">
    <h3 class="feature-title">Recent Trips</h3>
        <%= render 'trips' %>
    </div>
</div>
<div class="row">
    <div class="col-12">
    <strong><%= link_to "All Trips", user_trips_path(current_user.id) %></strong>
    </div>
</div>