body {
    padding: 0;
    margin: 0;
    background: #d8ebf7;
  }
  
  body { 
    background-image:
    url('https://images.pexels.com/photos/2333866/pexels-photo-2333866.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(17, 155, 247) }


  /*--- navigation bar ---*/
  .navbar {
    background: rgb(125, 175, 204);
  }
  .nav-link,
  .navbar-brand {
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  .nav-link {
    margin-right: 1em !important;
  }
  .nav-link:hover {
    color: #000;
  }

  .description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
  }
  .description h1 {
    color: rgb(0, 88, 129);
  }
  .description p {
    color: black;
    font-size: 1.3rem;
    line-height: 1.5;
  }
  .description a {
    color: white;
    font-size: 1.3rem;
    line-height: 1.5;
  }


  .features {
    margin: 4em auto;
    padding: 1em;
    position: relative;
  }
  .feature-title {
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .features img {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
  }

.features h1 {
    color: rgb(0, 88, 129);
  }
  .features p {
    color: black;
    font-size: 1.3rem;
    line-height: 1.5;
  }
  .features a {
    color: rgb(0, 88, 129);
    font-size: 1.0rem;
    line-height: 1.5;
  }
  .alert {
    color: rgb(148, 21, 21);
  }
  .top-buffer { margin-top:20px; }

  .main-features {
    margin: 4em auto;
    padding: 1em;
    position: relative;
  }
  .main-feature-title {
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .main-features img {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
  }

.main-features h1 {
    color: rgb(0, 88, 129);
  }
  .main-features p {
    color: black;
    font-size: 1.3rem;
    line-height: 1.5;
  }
  .main-features a {
    color: rgb(0, 88, 129);
    font-size: 1.3rem;
    line-height: 1.5;
  }